<!-- Generated template for the ViettelFooterComponent component -->
<div>
  <!-- <div style="height: 10px; background: white;"></div>
  <div class="white-smoke">
    <ion-grid>
      <ion-row align-items-start>
        <ion-col col-12 col-sm-4 col-md-4>
          <div class="a3-container a3-items-center">
            <img src="./assets/imgs/viettel-4g-car.png" alt="">
            <div class="title-font-big">Giao hàng nhanh</div>
          </div>

          <div class="vt-des">
            Thời gian giao hàng:
            • Khu vực nội thành Hà Nội: 24h
            • Khu vực ngoại thành Hà Nội: 36h
            • Các khu vực tỉnh/thành phố còn lại: 4 - 5 ngày (không tính chủ nhật và ngày nghỉ lễ)
          </div>
        </ion-col>
        <ion-col col-12 col-sm-4 col-md-4>
          <div class="a3-container a3-items-center">
            <img src="./assets/imgs/viettel-4g-card.png" alt="">
            <div class="title-font-big">Thanh toán tiện</div>
          </div>

          <div class="vt-des">
            Tùy chọn thanh toán tiền mặt, chuyển khoản, thanh toán qua thẻ hoặc Internet banking
          </div>
        </ion-col>
        <ion-col col-12 col-sm-4 col-md-4>
          <div class="a3-container a3-items-center">
            <img src="./assets/imgs/viettel-4g-map.png" alt="">
            <div class="title-font-big">Mạng lưới rộng</div>
          </div>

          <div class="vt-des">
            Mạng lưới Viettel phủ khắp cả nước
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->


  <!-- <div class="white-bg">
    <ion-grid>
      <ion-row align-items-start class="a1-relative">

        <div class="line-right line1 xs-hidden"></div>
        <div class="line-right line2 xs-hidden"></div>
        <div class="line-right line3 xs-hidden"></div>

        <ion-col col-12 col-sm-3 col-md-3>
          <div text-uppercase class="text-upper">
            CÁCH THỨC THANH TOÁN
          </div>
          <div>
            <img src="./assets/imgs/viettel-4g-card-1.png" alt="">
            <img src="./assets/imgs/viettel-4g-visa.png" alt="">
            <div>
              <img src="./assets/imgs/viettel-4g-bankplus.png" alt="">
            </div>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-3 col-md-3 class="padding-left">
          <div text-uppercase class="text-upper">
            DỊCH VỤ GIAO HÀNG
          </div>
          <img src="./assets/imgs/viettel-4g-post.png" alt="">
        </ion-col>
        <ion-col col-12 col-sm-3 col-md-3 class="padding-left">
          <div text-uppercase class="text-upper">
            ĐỐI TÁC
          </div>
          <img src="./assets/imgs/viettel-4g-store.png" alt="">
        </ion-col>
        <ion-col col-12 col-sm-3 col-md-3 class="padding-left">
          <div>
            <div text-uppercase class="text-upper">
              CHỨNG NHẬN
            </div>
            <img src="./assets/imgs/viettel-4g-noti.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <!-- <ion-row style="background: whitesmoke">
    <ion-col col-12 col-md-3 col-sm3 offset-sm-9 offset-md-9>
      <div style="padding: 0 16px">
        <ion-icon style="font-size: 1.4em" name="call"></ion-icon>
        <span style="font-size: 1.2em; font-weight: bold; margin-left: 8px">Hotline: 1800 8168</span>
      </div>
    </ion-col>
  </ion-row> -->


  <div class="black-bg">
    <ion-row align-items-start style="border-bottom: 1px solid white;padding-bottom: 30px;">
      <ion-col col-12 col-sm-8 col-md-8>
        <div style="line-height: 1.6em">
          <div class="text-big white-color">
            Hà Nội
          </div>

          <div class="a3-container a3-items-center">
            <div class="icon-container">
              <ion-icon name="pin" class="orange-color"></ion-icon>
            </div>
            <span class="white-color">Tầng 3, CT2 The Light, Đường Tố Hữu, P. Trung Văn, Q. Nam Từ Liêm, TP.
              Hà Nội</span>
          </div>
          <div class="a3-container a3-items-center">
            <div class="icon-container">
              <ion-icon name="mail" class="orange-color"></ion-icon>
            </div>
            <span class="white-color"> hotro@cuahangviettel.vn</span>
          </div>
          <div class="a3-container a3-items-center">
            <div class="icon-container">
              <ion-icon name="call" class="orange-color"></ion-icon>
            </div>
            <span class="white-color">18008119</span>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-4 col-md-4 class="md-border-left">
        <div style="line-height: 1.6em">
          <div class="text-big white-color">
            Theo dõi chúng tôi
          </div>
          <div class="a3-container a3-items-center">
            <div class="circle a3-container-center">
              <a href="https://www.facebook.com/cuahangviettel.vn">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </div>
            <div class="circle a3-container-center">
              <ion-icon name="logo-youtube"></ion-icon>
            </div>
            <div class="circle a3-container-center">
              <ion-icon name="logo-googleplus"></ion-icon>
            </div>
            <div class="circle a3-container-center">
              <ion-icon name="logo-twitter"></ion-icon>
            </div>
          </div>

          <div class="introduce">
            Viettel Telecom vừa cho ra mắt trang bán hàng online chính thức tại địa chỉ CuaHangViettel.vn

            Đến với CuaHangViettel.vn bạn sẽ tìm thấy những sản phẩm, dịch vụ viễn thông thiết thực nhất: Từ điện thoại
            cơ bản đến những smartphone thế hệ mới nhất, hay chiếc đồng hồ định vị thông minh dành cho trẻ em, đăng ký
            lắp đặt truyền hình, internet cáp quang tốc độ cao...
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row align-items-start padding-top style="border-bottom: 1px solid white;padding-bottom: 30px;">
      <ion-col col-12 col-sm-6 col-md-6>
        <div class="text-big white-color">
          Dịch vụ
        </div>
        <ion-row align-items-start>
          <ion-col col-6 no-padding>
            <div class="item-service" *ngFor="let item of services1">
              <a href="{{item.url || '#'}}" *ngIf="!item.noFollow">
                {{item.name}}
              </a>
              <a href="{{item.url || '#'}}" *ngIf="item.noFollow" target="_blank" rel="nofollow">
                {{item.name}}
              </a>
            </div>
          </ion-col>
          <ion-col col-6 no-padding>
            <div class="item-service" *ngFor="let item of services2">
              <a href="{{item.url || '#'}}" *ngIf="!item.noFollow">
                {{item.name}}
              </a>
              <a href="{{item.url || '#'}}" *ngIf="item.noFollow" target="_blank" rel="nofollow">
                {{item.name}}
              </a>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-3 col-md-3>
        <div class="text-big white-color">
          Hỗ trợ
        </div>
        <div class="item-service" *ngFor="let item of helps">
          <a href="{{item.url || '#'}}" *ngIf="!item.noFollow">
            {{item.name}}
          </a>
          <a href="{{item.url || '#'}}" *ngIf="item.noFollow" target="_blank" rel="nofollow">
            {{item.name}}
          </a>

        </div>
      </ion-col>
      <ion-col col-12 col-sm-3 col-md-3>
        <div class="text-big white-color">
          Cửa hàng Viettel
        </div>
        <div class="item-service" *ngFor="let item of cuahangviettel">
          <a href="{{item.url || '#'}}" *ngIf="!item.noFollow">
            {{item.name}}
          </a>
          <a href="{{item.url || '#'}}" *ngIf="item.noFollow" target="_blank" rel="nofollow">
            {{item.name}}
          </a>
        </div>
      </ion-col>
    </ion-row> -->

    <div class="white-color" margin-top>
      <ion-row align-items-center>
        <ion-col col-12 col-sm-10 col-md-10 col-xl-10>
          © Viettel Telecom 2015. All rights reserved.<br>
          Cơ quan chủ quản: Tập đoàn Công nghiệp - Viễn thông Quân đội. Giấy phép số: 144/GP - BC do Bộ thông tin -
          Truyền
          thông cấp ngày 18/04/2007
        </ion-col>
        <!-- <ion-col col-12 col-sm-2 col-md-2 col-xl-2>
          <a class="dmca-badge" title="DMCA.com Protection Status" href="//www.dmca.com/Protection/Status.aspx?ID=f2a9ffdb-8af6-407a-be71-8dc329949437">
            <img class="aligncenter" src="https://images.dmca.com/Badges/dmca-badge-w200-5x1-07.png?ID=f2a9ffdb-8af6-407a-be71-8dc329949437"
              alt="DMCA.com Protection Status" /></a>
        </ion-col> -->
      </ion-row>

    </div>


  </div>



</div>
