page-home {
  ::-webkit-scrollbar {
    display: none;
  }

  .padding-top {
    padding-top: 32px !important;
  }

  .package-container {
    margin: 32px 0 16px 0;
  }


  .btn-left {
    left: 1vw;
    top: 50%;
    transform: translate(0, -50%);
  }

  .btn-right {
    right: 1vw;
    top: 50%;
    transform: translate(0, -50%);
  }

  .btn-menu {
    bottom: 100px !important;
    .fab{
      background: map-get($map: $colors, $key: orange) !important;
    }
  }

  .x-row-container {
    padding: 20px 0;

    &.background-1 {
      // background-image: url("../assets/imgs/viettel-4g-bg-3.jpg");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background: -webkit-radial-gradient(center, ellipse cover, #fffcdd 0%, #fbf298 34%, #f9ec68 57%, #f9ec68 75%, #f9ec68 100%);

    }

    &.background-2 {
      // background: -webkit-radial-gradient(center, ellipse cover, #fffcdd 0%, #fbf298 34%, #f9ec68 57%, #f9ec68 75%, #f9ec68 100%);
      // background-image: url("../assets/imgs/viettel-4g-bg-3.jpg");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
    }
  }

  .package-name {
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;

  }

  .btn-right{
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .vt-4g-package-title {
    margin-top: 10px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .m-package-container {
    padding: 10px;
  }
}