page-package-detail {
  .vt-month-p-header {
    padding: 0;
  }

  .package-list-container {
    margin: 16px 0;

    .col {
      margin-top: 4vh;
    }
    .border-radius{
      border-radius: 20px;
    }
  }

  .path {
    a {
      color: black;
      text-decoration: none;
    }
  }
  .btn-sign{
    padding: 10px;
  }

}
